<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qh.reigi.dao.mapper.DishMapper">
    <insert id="insertDishFavor">
        insert into dish_flavor (dish_id,  name, value,  create_time,  update_time,  create_user,  update_user,  is_deleted)
        values (#{dishFlavor.dishId}, #{dishFlavor.name}, #{dishFlavor.value}, #{dishFlavor.createTime}, #{dishFlavor.updateTime}, #{dishFlavor.createUser}, #{dishFlavor.updateUser}, #{dishFlavor.isDeleted})
    </insert>
    <insert id="insertDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish
            ( name,  category_id,  price,  code,  image, description,status,  sort,  create_time,  update_time,  create_user,  update_user, is_deleted)
        values (#{dish.name}, #{dish.categoryId}, #{dish.price}, #{dish.code}, #{dish.image}, #{dish.description}, #{dish.status}, #{dish.sort}, #{dish.createTime}, #{dish.updateTime}, #{dish.createUser}, #{dish.updateUser}, #{dish.isDeleted})
    </insert>
    <update id="changeStatus">
        update dish set status = #{status}
                    where id = #{id}
    </update>
    <update id="deleteDish">
        update dish set is_deleted = #{isDeleted}
        where id = #{id}
    </update>
    <update id="updateDish">
        update dish
        set name = #{dish.name},  category_id = #{dish.categoryId},  price = #{dish.price},  code =  #{dish.code},  image = #{dish.image}, description = #{dish.description}
          ,status = #{dish.status},  sort = #{dish.sort},  create_time = #{dish.createTime},  update_time =  #{dish.updateTime},  create_user = #{dish.createUser},  update_user = #{dish.updateUser}
          , is_deleted = #{dish.isDeleted}
        where id = #{dish.id}
    </update>


    <select id="getDishId" resultType="java.lang.Long">
        select id from dish
        where name = #{dish.name}
          and create_user = #{dish.createUser}
    </select>
    <select id="getDishListByCategoryId" resultType="com.qh.reigi.dto.DishDto">
        select * from dish
                 where category_id = #{categoryId}

    </select>
    <select id="getDishListByCategoryIdAndStatus" resultType="com.qh.reigi.dto.DishDto">
        select * from dish
                 where category_id = #{categoryId} and status = #{status}
    </select>
    <select id="getDishByName" resultType="com.qh.reigi.dto.DishDto">
        select * from dish
                 where name = #{name} limit 1
    </select>
    <select id="getDishFlavor" resultType="com.qh.reigi.entity.DishFlavor">
        select * from dish_flavor where dish_id = #{id}
    </select>
    <select id="getDishById" resultType="com.qh.reigi.dto.DishDto">
        select * from dish where id = #{id} limit 1
    </select>

</mapper>