<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qh.reigi.dao.mapper.PageMapper">
    <select id="getAll" resultType="java.util.Map">
        select * from ${tableName}
                 order by ${orderBy}
    </select>
    <select id="getDish" resultType="java.util.Map">
        select * from ${tableName}
                 where is_deleted = #{isDeleted}
                 order by ${orderBy}
    </select>
    <select id="getCategoryName" resultType="java.lang.String">
        select name from category
        where id = #{category}
    </select>
</mapper>